{% extends "base.html" %}

{% block head %}
<!-- FullCalendar JS -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js"></script>
{% endblock %}

{% block title %}Calendar{% endblock %}

{% block content %}
<div class="d-flex justify-content-between mb-3">
    <h2>Calendar</h2>
    <a href="{% url 'schedule:lesson_create' %}" class="btn btn-primary">Add Lesson</a>
</div>

<div id="calendar"></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: '/schedule/calendar/events/',  // URL for fetching events
            eventTimeFormat: { // Specify 24-hour time format
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            },
            eventClick: function (info) {
                window.location.href = info.event.url;
            },
        });
        calendar.render();
    });
</script>

{% endblock %}
