{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Edit Lesson{% endblock %}

{% block content %}
<h1>Edit Lesson: {{ form.instance.title }}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<a href="{% url 'lessons:lesson_list' %}" class="btn btn-secondary">Cancel</a>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchable-decks').select2({
            placeholder: "Select decks",
            allowClear: true,
        });

        $('#searchable-words').select2({
            placeholder: "Select words",
            allowClear: true,
        });
        $('#searchable-supplementary_words').select2({
            placeholder: "Select supplementary words",
            allowClear: true,
        });
        $('#searchable-words_for_understanding').select2({
            placeholder: "Select words_for_understanding",
            allowClear: true,
        });
    });
</script>
{% endblock %}
