{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Lesson: {{ lesson.title }}{% endblock %}

{% block content %}
<div class="container">
    <h1><a href="{% url 'lessons:lesson_list' %}">{{lesson.title }}</a></h1>
    <p>{{ lesson.description }}</p>

    <div class="d-flex justify-content-between">
        <a href="{% url 'lessons:lexicalexercise_list' lesson.id %}" class="btn btn-primary mb-3">Lexical Exercises</a>
        <a href="{% url 'lessons:readingtext_list' lesson.id %}" class="btn btn-primary mb-3">Reading Texts</a>
        <a href="{% url 'lessons:homework_list' lesson.id %}" class="btn btn-success mb-3">Manage Homework</a>
    </div>

    <!-- Reading Texts Section -->
    {% include 'lessons/includes/reading_texts.html' with reading_texts=reading_texts %}

    <!-- New Words Section -->
    <h2>New Words</h2>
    <ul>
        {% for word in new_words %}
        <li>{{ word.simplified }} ({{ word.pinyin }}): {{ word.meaning }}</li>
        {% endfor %}
    </ul>

    <!-- Lexical Exercises Section -->
    {% include 'lessons/includes/lexical_exercises.html' %}


    <!-- Decks Section -->
    <h2>Decks</h2>
    <ul>
        {% for deck in decks %}
        <li><a href="{% url 'frontend:deck_detail' deck.id %}">{{ deck.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
