<div id="flashcard" class="flashcard" style="margin-bottom: 30%">
    <div class="card-header" style="width:100%">
        <div class="progress">
            <div id="quiz-progress" class="progress-bar bg-info" role="progressbar" style="width: 0%;" aria-valuenow="0"></div>
        </div>
    </div>
    <div class="card-body">
        <div class="front">
            <h6 id="back-pronunciation">mama</h6>
            <h6 class="card-title" id="back-translation">сущ. мама</h6>
        </div>
        <div class="back" style="display: none;">
            <h5 id="front-character" style="font-family: KaiTi, STKaiti, DFKai-SB, BiauKai, Arial !important; font-size:80px;">妈妈</h5>
        </div>
        <div class="button-container">
            <button id="quiz-right" class="btn btn-outline-secondary">Верно</button>
            <button id="quiz-wrong" class="btn btn-outline-secondary"> Неверно</button>
        </div>
        <div class="button-container">
            <button id="quiz-restart" class="btn btn-outline-secondary">Перезапустить тест</button>
        </div>
    </div>
</div>
