{% load static %}
<header class="header container d-flex flex-wrap align-items-center justify-content-md-between py-3 mb-4">
    <div class="col-md-3 mb-2 mb-md-0 left-header">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
    </div>

    {% include 'includes/nav.html' %}
    <div class="col-md-3 text-end" style="display: flex; flex-direction: row; align-items: center;">
        {% include 'includes/theme_switch.html' %}
        {% if request.user.is_anonymous %}
        <a class="btn btn-outline-primary me-2 {% if '/login/' in request.path %} active {% endif %}"
           href="{% url 'users:login' %}">Войти</a>
        <a class="btn btn-outline-primary me-2 {% if '/registration/' in request.path %} active {% endif %}"
           href="{% url 'users:registration' %}">Регистрация</a>
        {% else %}
        <form method="post" action="{% url 'users:logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="nav-link btn btn-link" style="background:none; border:none;">
                Выйти
            </button>
        </form>
        {% endif %}
    </div>
</header>
