<div class="table-container">
    <div class="table-row heading">
        <div class="row-item">Слово</div>
        <div class="row-item">Произношение</div>
        <div class="row-item">Перевод</div>
        <div class="row-item">Статистика</div>
        <div class="row-item percent-header">Процент</div>
        {% if request.path == '/user-words/' or request.path == '/deck/' %}
        <div class="row-item date-header">Повторение</div>
        {% endif %}
    </div>
    {% for performance in performances %}
    {% include "includes/performance_table_row.html" %}
    {% endfor %}
</div>

