<form method="GET" action="{% url 'frontend:user_favorites' %}">
    <div class="input-group mb-3">
        {{ search_form.search }}
        <div class="input-group-append">
            <select class="form-control" name="hsk_levels" multiple>
                {% for level in '0123456'|make_list %}
                    <option value="{{ level }}" {% if level in request.GET.hsk_levels %}selected{% endif %}>HSK {{ level }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit" formaction="{% url 'frontend:review_words' %}">Повторить</button>
        </div>
    </div>
</form>
