{% comment %}
File: templates/includes/user_search_form.html
{% endcomment %}

<form method="GET" action="{% url 'frontend:user_words' %}">
    <div class="input-group mb-3">
        {{ search_form.search }}
        <div class="input-group-append">
            <select class="form-control" name="review_period">
                <option value="" {% if review_period == '' %}selected{% endif %}>All</option>
                <option value="last_week" {% if review_period == 'last_week' %}selected{% endif %}>Last Week</option>
                <option value="last_three_days" {% if review_period == 'last_three_days' %}selected{% endif %}>Last 3 Days</option>
                <option value="last_day" {% if review_period == 'last_day' %}selected{% endif %}>Last Day</option>
                <option value="zero" {% if review_period == 'zero' %}selected{% endif %}>Future</option>
                <option value="three_days" {% if review_period == 'three_days' %}selected{% endif %}>Next 3 Days</option>
                <option value="week" {% if review_period == 'week' %}selected{% endif %}>Next Week</option>
            </select>
        </div>
        <div class="input-group-append" style="margin-right: 0.5rem;">
            <select class="form-control" name="hsk_levels" multiple>
                {% for level in '0123456'|make_list %}
                    <option value="{{ level }}" {% if level in request.GET.hsk_levels %}selected{% endif %}>HSK {{ level }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button" id="repeatButton">Повторить</button>
        </div>
    </div>
</form>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const repeatButton = document.getElementById('repeatButton');

    repeatButton.addEventListener('click', function () {
        // Get current form action URL
        const url = "{% url 'frontend:review_words' %}";

        // Create a URLSearchParams object to hold the existing query parameters
        const params = new URLSearchParams(window.location.search);

        // Get sort_by and sort_order from existing query parameters, or use default values if they don't exist
        const sortBy = params.get('sort_by') || 'default_sort_by'; // replace 'default_sort_by' with your actual default if needed
        const sortOrder = params.get('sort_order') || 'asc'; // replace 'asc' with your desired default if needed

        // Append the specific parameters for the repeat action
        params.set('sort_by', sortBy);
        params.set('sort_order', sortOrder);

        // Redirect to the new URL with the query parameters
        window.location.href = `${url}?${params.toString()}`;
    });
});
</script>