<form method="GET" action="{% url 'frontend:user_favorites' %}">
    <div class="input-group mb-3">
        {{ search_form.search }}
        <div class="input-group-append">
            <select class="form-control" name="hsk_levels" multiple>
                {% for level in '0123456'|make_list %}
                    <option value="{{ level }}" {% if level in request.GET.hsk_levels %}selected{% endif %}>HSK {{ level }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button" id="repeatButton">Повторить</button>
        </div>
    </div>
</form>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const repeatButton = document.getElementById('repeatButton');

    repeatButton.addEventListener('click', function () {
        // Get current form action URL
        const url = "{% url 'frontend:review_words' %}";

        // Create a URLSearchParams object to hold the existing query parameters
        const params = new URLSearchParams(window.location.search);

        // Get sort_by and sort_order from existing query parameters, or use default values if they don't exist
        const sortBy = params.get('sort_by');
        const sortOrder = params.get('sort_order');

        if (sortBy) {
            params.set('sort_by', sortBy);
        }

        if (sortOrder) {
            params.set('sort_order', sortOrder);
        }

        // Append the specific parameters for the repeat action
        params.set('sort_by', sortBy);
        params.set('sort_order', sortOrder);

        // Redirect to the new URL with the query parameters
        window.location.href = `${url}?${params.toString()}`;
    });
});
</script>