{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Deck {{ deck.name }}!</h1>
    <h6>by <a href="{% url 'frontend:user_decks' deck.creator.username %}">{{ deck.creator.username }}</a></h6>

    {% if current_user.is_authenticated %}
    {% if current_user.id == deck.creator_id or current_user.username == 'admin' %}
    <a href="{% url 'frontend:edit_deck' deck.id %}" class="btn btn-outline-secondary">Редактировать</a>
    {% endif %}
    {% if deck in current_user.decks.all %}
    <a href="{% url 'frontend:review_deck' deck.id %}" class="btn btn-outline-secondary">Повторить</a>
    <a href="{% url 'frontend:test_deck' deck.id %}" class="btn btn-outline-secondary">Тест</a>
    {% else %}
    <a href="{% url 'frontend:add_deck' deck.id %}" class="btn btn-outline-secondary">Добавить</a>
    {% endif %}
    {% else %}
    <a href="{% url 'frontend:test_deck' deck.id %}" class="btn btn-outline-secondary">Тест</a>
    {% endif %}
</div>

{% if deck.words %}
{% if current_user.is_authenticated %}
{% include "includes/performance_table.html" with performances=performances%}
{% else %}
{% include "includes/word_table.html"%}
{% endif %}
{% else %}
<p>No cards yet.</p>
{% endif %}
{% endblock %}

{% block sort %}
{% endblock %}
