{% extends "base.html" %}

{% block content %}
<input type="hidden" id="user-id" value="{{ current_user.id }}">
<div class="container">
    <h1>Повторение слов за период: {{ period }}</a></h1>
    {% if hsk_levels %}
        <h2>Выбранные уровни HSK:</h2>
        <ul>
            {% for level in hsk_levels %}
                <li>{{ level }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if to_test %}
    {% include "includes/flashcard.html" %}

    {% include "includes/card_table.html" %}
    {% else %}
    <h2>Нет слов для тестирования</h2>
    <p>Пока у вас нет слов, которые нужно повторить.</p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    window.addEventListener("load", function () {
        const Rows = document.querySelectorAll('.table-row:not(.heading)');
        const progress_bar = document.getElementById("quiz-progress");
        progress_bar.ariaValueMax = Rows.length;
        const increment = 100 / Rows.length;
        let progress = 0;
        let currentFlashcardIndex = 0;
        let countRight = 0;
        let isQuizEnding = false;

        displayFlashcard(currentFlashcardIndex);

        document.getElementById("flashcard").addEventListener("click", function (event) {
            if (event.target.tagName === 'BUTTON') {
                return; // Prevent toggle if button is clicked
            }
            toggleFlashcard();
        });

        function toggleFlashcard() {
            var front = document.querySelector('#flashcard .front');
            var back = document.querySelector('#flashcard .back');
            front.style.display = (front.style.display === "none") ? "flex" : "none";
            back.style.display = (back.style.display === "none") ? "flex" : "none";
        }

        function displayFlashcard(index) {
            var front = document.querySelector('#flashcard .front');
            var back = document.querySelector('#flashcard .back');
            front.style.display = "flex";
            back.style.display = "none";
            const currentRow = Rows[index];

            document.getElementById("front-character").textContent = currentRow.querySelector('.simplified').textContent;
            document.getElementById("back-pronunciation").textContent = currentRow.querySelector('.pinyin').textContent;
            document.getElementById("back-translation").textContent = currentRow.querySelector('.meaning').textContent;
        }

        function getNextFlashcard() {
            if (currentFlashcardIndex < Rows.length - 1) {
                currentFlashcardIndex++;
                progress += increment;
                progress_bar.style.width = `${progress}%`;
                displayFlashcard(currentFlashcardIndex);
            } else {
                endQuiz(); // End the quiz when all flashcards have been displayed
            }
        }

        function endQuiz() {
            if (isQuizEnding) return;
            isQuizEnding = true;

            progress = 100; // Set progress to 100
            progress_bar.style.width = `${progress}%`;


            setTimeout(function () {
                alert("Больше нет слов, перезапускаю\n" + `${Math.round(countRight / Rows.length * 100)}%`);
                restartQuiz();
            }, 500);
        }

        const restart = document.getElementById("quiz-restart");
        restart.addEventListener('click', restartQuiz);

        function restartQuiz() {
            currentFlashcardIndex = 0;
            progress = 0;
            countRight = 0;
            isQuizEnding = false; // Reset the quiz ending flag
            progress_bar.style.width = `${progress}%`;
            displayFlashcard(currentFlashcardIndex);
        }

        const correct = document.getElementById("quiz-right");
        correct.addEventListener('click', markCorrect);

        function markCorrect() {
            Rows[currentFlashcardIndex].classList.add("green");
            countRight++;
            sendResultToAPI(true);
            getNextFlashcard();
        }

        const incorrect = document.getElementById("quiz-wrong");
        incorrect.addEventListener('click', markIncorrect);

        function markIncorrect() {
            Rows[currentFlashcardIndex].classList.add("red");
            sendResultToAPI(false);
            getNextFlashcard();
        }

        function sendResultToAPI(isCorrect) {
            const userId = document.getElementById("user-id").value;
            const wordPerformanceId = Rows[currentFlashcardIndex].querySelector('input[type="hidden"]').value;

            const url = isCorrect
                ? `${window.location.origin}/api/v1/word-performance/${wordPerformanceId}/correct/`
                : `${window.location.origin}/api/v1/word-performance/${wordPerformanceId}/incorrect/`;

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    user: userId,
                }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    });
</script>
{% endblock %}
