{% extends "base.html" %}

{% block content %}
<input type="hidden" id="user-id" value="{{ current_user.id }}">
<div class="container">
    <h1>Повторение слов за период: {{ period }}</a></h1>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="togglePinyin">
        <label class="form-check-label" for="togglePinyin">Показывать пиньин на карточке с ответом</label>
    </div>
    {% if hsk_levels %}
    <h2>Выбранные уровни HSK:</h2>
    <ul>
        {% for level in hsk_levels %}
        <li>{{ level }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if to_test %}
    {% include "includes/flashcard.html" %}

    {% include "includes/card_table.html" %}
    {% else %}
    <h2>Нет слов для тестирования</h2>
    <p>Пока у вас нет слов, которые нужно повторить.</p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    window.addEventListener("load", function () {
        const Rows = document.querySelectorAll('.table-row:not(.heading)');
        const progress_bar = document.getElementById("quiz-progress");
        progress_bar.ariaValueMax = Rows.length;
        const increment = 100 / Rows.length;
        let progress = 0;
        let currentFlashcardIndex = 0;
        let countRight = 0;
        let isQuizEnding = false;
        let isFrontVisible = true; // Переменная для отслеживания текущей стороны карточки

        displayFlashcard(currentFlashcardIndex);

        document.getElementById("flashcard").addEventListener("click", function (event) {
            if (event.target.tagName === 'BUTTON') {
                return; // Prevent toggle if button is clicked
            }
            toggleFlashcard();
        });

        const togglePinyin = document.getElementById("togglePinyin");
        let showPinyinOnAnswer = true; // По умолчанию показываем пиньин на ответе

        // Обработчик для переключателя
        togglePinyin.addEventListener("change", function () {
            showPinyinOnAnswer = togglePinyin.checked;
            displayFlashcard(currentFlashcardIndex, true); // Обновляем текущую карточку
        });

        function toggleFlashcard() {
            isFrontVisible = !isFrontVisible;
            var front = document.querySelector('#flashcard .front');
            var back = document.querySelector('#flashcard .back');
            front.style.display = (front.style.display === "none") ? "flex" : "none";
            back.style.display = (back.style.display === "none") ? "flex" : "none";
        }

        function displayFlashcard(index, keepSide = false) {
            const front = document.querySelector('#flashcard .front');
            const back = document.querySelector('#flashcard .back');
            const togglePinyin = document.getElementById("togglePinyin");
            const currentRow = Rows[index];

            // Показываем переднюю сторону по умолчанию
            front.style.display = "flex";
            back.style.display = "none";

            // Получаем данные текущей строки
            const simplified = currentRow.querySelector('.simplified')?.textContent || "";
            const pinyin = currentRow.querySelector('.pinyin')?.textContent || "";
            const meaning = currentRow.querySelector('.meaning')?.textContent || "";

            // Логика переключателя
            if (togglePinyin.checked) {
                // Pinyin on the back
                document.getElementById("front-pinyin").textContent = ""; // Clear Pinyin on the front
                document.getElementById("front-translation").textContent = meaning;

                document.getElementById("back-character").textContent = simplified; // Show character on the back
                document.getElementById("back-pinyin").textContent = pinyin; // Show Pinyin on the back
            } else {
                // Pinyin on the front
                document.getElementById("front-pinyin").textContent = pinyin; // Show Pinyin and character on the front
                document.getElementById("front-translation").textContent = meaning;

                document.getElementById("back-character").textContent = simplified; // Show character on the back
                document.getElementById("back-pinyin").textContent = ""; // Clear Pinyin on the back
            }
            // Сохраняем текущую сторону, если нужно
            if (keepSide) {
                // updateFlashcardSide(isFrontVisible);
                const front = document.querySelector('#flashcard .front');
                const back = document.querySelector('#flashcard .back');

                if (isFrontVisible) {
                    front.style.display = "flex";
                    back.style.display = "none";
                } else {
                    front.style.display = "none";
                    back.style.display = "flex";
                }
            } else {
                isFrontVisible = true; // По умолчанию показываем переднюю сторону
                front.style.display = "flex";
                back.style.display = "none";
            }
        }


        function getNextFlashcard() {
            if (currentFlashcardIndex < Rows.length - 1) {
                currentFlashcardIndex++;
                progress += increment;
                progress_bar.style.width = `${progress}%`;
                displayFlashcard(currentFlashcardIndex);
            } else {
                endQuiz(); // End the quiz when all flashcards have been displayed
            }
        }

        function endQuiz() {
            if (isQuizEnding) return;
            isQuizEnding = true;

            progress = 100; // Set progress to 100
            progress_bar.style.width = `${progress}%`;


            setTimeout(function () {
                alert("Больше нет слов, перезапускаю\n" + `${Math.round(countRight / Rows.length * 100)}%`);
                restartQuiz();
            }, 500);
        }

        const restart = document.getElementById("quiz-restart");
        restart.addEventListener('click', restartQuiz);

        function restartQuiz() {
            currentFlashcardIndex = 0;
            progress = 0;
            countRight = 0;
            isQuizEnding = false; // Reset the quiz ending flag
            progress_bar.style.width = `${progress}%`;
            displayFlashcard(currentFlashcardIndex);
        }

        const correct = document.getElementById("quiz-right");
        correct.addEventListener('click', markCorrect);

        function markCorrect() {
            Rows[currentFlashcardIndex].classList.add("green");
            countRight++;
            sendResultToAPI(true);
            getNextFlashcard();
        }

        const incorrect = document.getElementById("quiz-wrong");
        incorrect.addEventListener('click', markIncorrect);

        function markIncorrect() {
            Rows[currentFlashcardIndex].classList.add("red");
            sendResultToAPI(false);
            getNextFlashcard();
        }

        function sendResultToAPI(isCorrect) {
            const userId = document.getElementById("user-id").value;
            const wordPerformanceId = Rows[currentFlashcardIndex].querySelector('input[type="hidden"]').value;

            const url = isCorrect
                ? `${window.location.origin}/api/v1/word-performance/${wordPerformanceId}/correct/`
                : `${window.location.origin}/api/v1/word-performance/${wordPerformanceId}/incorrect/`;

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    user: userId,
                }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    });
</script>
{% endblock %}
