{% extends "base.html" %}
{% load static %}

{% block title %}Мои Избранные Слова{% endblock %}

{% block content %}
<div class="container">
    <h1>Мои Избранные Слова</h1>
    {% include 'includes/user_favorites_search_form.html' %}
    <div class="table-container">
        <div class="table-row heading">
            <div class="row-item" onclick="sortTable('word')">Слово</div>
            <div class="row-item" onclick="sortTable('pinyin')">Произношение</div>
            <div class="row-item" onclick="sortTable('meaning')">Перевод</div>
            <div class="row-item" onclick="sortTable('performance')">Статистика</div>
            <div class="row-item percent-header" onclick="sortTable('accuracy_percentage')">Процент</div>
            <div class="row-item date-header" onclick="sortTable('next_review_date')">Повторение</div>
            <div class="row-item action-header">Действие</div>
        </div>

        {% for word in favorites %}
        <div class="table-row" id="word-{{ word.id }}">
            <div class="row-item">
                <div class="chinese"
                     data-id="{{ word.id }}"
                     data-pinyin="{{ word.pinyin }}"
                     data-meaning="{{ word.meaning }}">
                    {{ word.simplified }}
                </div>
            </div>
            <div class="row-item">{{ word.pinyin }}</div>
            <div class="row-item">{{ word.meaning }}</div>
            {% with performance=word.user_performance.0 %}
            {% if performance %}
            <div class="row-item">{{ performance }}</div>
            <div class="row-item percent">{{ performance.accuracy_percentage_display }}%</div>
            <div class="row-item">
                {% if performance.next_review_date < now %}
                {{ performance.next_review_date|timesince }} ago
                {% else %}
                in {{ performance.next_review_date|timeuntil }}
                {% endif %}
            </div>
            {% else %}
            <div class="row-item">-</div>
            <div class="row-item">-</div>
            {% endif %}
            {% endwith %}
            <div class="row-item">
                <button class="btn btn-danger" onclick="toggleFavorite({{ word.id }})">Unfavorite</button>
            </div>
        </div>
        {% empty %}
        <div class="table-row">
            <div class="row-item" colspan="6">Нет избранных слов.</div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'includes/pagination.html' with page_obj=favorites %}
{% endblock %}

{% block scripts %}
<script>
    function toggleFavorite(wordId) {
        fetch(`/api/v1/words/${wordId}/favorite/`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
        })
            .then(response => {
                if (response.ok) {
                    const item = document.getElementById(`word-${wordId}`);
                    item.remove(); // Remove the word from the list
                } else {
                    console.error('Error toggling favorite:', response.statusText);
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>
<script>
    let currentSort = { column: '', order: 'asc' };

    function sortTable(column) {
        const url = new URL(window.location);
        const params = new URLSearchParams(url.search);

        // Determine new order
        if (currentSort.column === column) {
            currentSort.order = currentSort.order === 'asc' ? 'desc' : 'asc';
        } else {
            currentSort.column = column;
            currentSort.order = 'asc';
        }

        // Set sorting parameters
        params.set('sort_by', currentSort.column);
        params.set('sort_order', currentSort.order);
        window.location.search = params.toString(); // Redirect to the new URL

        // Update header styles
        updateHeaderStyles(column);
    }

    function updateHeaderStyles(column) {
        const percentHeader = document.querySelector('.percent-header');
        const dateHeader = document.querySelector('.date-header');

        // Reset styles
        percentHeader.classList.remove('ascending', 'descending');
        dateHeader.classList.remove('ascending', 'descending');

        // Apply styles based on current sort
        if (currentSort.column === 'accuracy_percentage') {
            percentHeader.classList.add(currentSort.order === 'asc' ? 'ascending' : 'descending');
        } else if (currentSort.column === 'next_review_date') {
            dateHeader.classList.add(currentSort.order === 'asc' ? 'ascending' : 'descending');
        }
    }

    function setInitialSortStyles() {
        const urlParams = new URLSearchParams(window.location.search);
        const sortBy = urlParams.get('sort_by');
        const sortOrder = urlParams.get('sort_order');

        // Set current sort based on URL parameters
        if (sortBy) {
            currentSort.column = sortBy;
            currentSort.order = sortOrder || 'asc'; // Default to 'asc' if no order is specified
            updateHeaderStyles(currentSort.column); // Update styles based on current sort
        }
    }
    window.onload = setInitialSortStyles;
</script>


{% endblock %}
